body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container{
    width:320px;
    margin-top:90px;
    margin-left:auto;
    margin-right:auto;
    padding-top:35px;
    padding-bottom:1px;
    padding-left:18px;
    padding-right:18px;
    background-color:#ffffff;
    border:2px solid #333;
    border-radius:8px;
    position:relative;
    box-shadow: 0px 0px 4px rgba(98, 98, 98, 0.208);
}

.heading{
    position:absolute;
    top:-25px;
    left:50%;
    transform:translateX(-50%);
    background-color:#ffffff;
    padding:0 10px;
    font-size:18px;
    white-space: nowrap;
}

.sub-cont{
    margin-bottom:16px;
}

label{
    font-weight:bold;
    font-size:13px;
    margin-bottom:5px;
}

input{
    width:100%;
    padding:8px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
}

span{
    font-size:12px;
    color:red;
}